<%- include ('partials/header.ejs') %>

<div class="container">
	<!--First Row-->

	<div class="card-deck">
		<div class="card">
			<img src="/static/img/blueshirt.png" class="card-img-top" alt="..." />
			<a href="/show/5f02db573dca4f51ec38c73e" class="btn btn-success"
				>BUY NOW</a
			>
			<div class="card-body">
				<h5 class="card-title">Blue shirt</h5>
				<p class="card-text">
					This is a wider card with supporting text below as a natural lead-in
					to additional content. This content is a little bit longer.
				</p>
			</div>
		</div>
		<div class="card">
			<img src="/static/img/silvercoat.jpg" class="card-img-top" alt="..." />
			<a href="/show/5f314487d6862f3e50be716b" class="btn btn-success"
				>BUY NOW</a
			>
			<div class="card-body">
				<h5 class="card-title">Silver Coat</h5>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to additional
					content.
				</p>
			</div>
		</div>
		<div class="card">
			<img src="/static/img/whiteshirt.png" class="card-img-top" alt="..." />
			<a href="/show/5f3144a26826d012442cc2ba" class="btn btn-success"
				>BUY NOW</a
			>
			<div class="card-body">
				<h5 class="card-title">White Shirt</h5>
				<p class="card-text">
					This is a wider card with supporting text below as a natural lead-in
					to additional content. This card has even longer content than the
					first to show that equal height action.
				</p>
			</div>
		</div>
	</div>

	<!--Second row-->

	<div class="card-deck">
		<div class="card">
			<img
				src="static/img/fancy.jpeg"
				class="card-img-top"
				alt="..."
				style="height: 362.25px"
			/>
			<a href="/show/5f3144bb182b841c647700ac" class="btn btn-success"
				>BUY NOW</a
			>
			<div class="card-body">
				<h5 class="card-title">Purple Coat</h5>
				<p class="card-text">
					This is a wider card with supporting text below as a natural lead-in
					to additional content. This content is a little bit longer.
				</p>
			</div>
		</div>
		<div class="card">
			<img
				src="static/img/jacket.jpeg"
				class="card-img-top"
				alt="..."
				style="height: 362.25px"
			/>
			<a href="/show/5f3144cb86dd1d438418387d" class="btn btn-success"
				>BUY NOW</a
			>
			<div class="card-body">
				<h5 class="card-title">Jacket</h5>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to additional
					content.
				</p>
			</div>
		</div>
		<div class="card">
			<img
				src="static/img/coatpant.jpeg"
				class="card-img-top"
				alt="..."
				style="height: 362.25px"
			/>
			<a href="/show/5f3144e35ae477042c00c488" class="btn btn-success"
				>BUY NOW</a
			>
			<div class="card-body">
				<h5 class="card-title">Three piece coat with pant</h5>
				<p class="card-text">
					This is a wider card with supporting text below as a natural lead-in
					to additional content. This card has even longer content than the
					first to show that equal height action.
				</p>
			</div>
		</div>
	</div>

	<!--Third Row-->

	<div class="card-deck">
		<div class="card">
			<img
				src="static/img/kurta.jpeg"
				class="card-img-top"
				alt="..."
				style="height: 362.25px"
			/>
			<a href="/show/5f3144f6878361054c838a04" class="btn btn-success"
				>BUY NOW</a
			>
			<div class="card-body">
				<h5 class="card-title">Red Kurta</h5>
				<p class="card-text">
					This is a wider card with supporting text below as a natural lead-in
					to additional content. This content is a little bit longer.
				</p>
			</div>
		</div>
		<div class="card">
			<img
				src="static/img/gymwear.jpeg"
				class="card-img-top"
				alt="..."
				style="height: 362.25px"
			/>
			<a href="/show/5f314576f315342c74c02df8" class="btn btn-success"
				>BUY NOW</a
			>
			<div class="card-body">
				<h5 class="card-title">Sports Tshirt</h5>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to additional
					content.
				</p>
			</div>
		</div>
		<div class="card">
			<img
				src="static/img/sweater.png"
				class="card-img-top"
				alt="..."
				style="height: 362.25px"
			/>
			<a href="/show/5f31458bb7ad4e1f584549cf" class="btn btn-success"
				>BUY NOW</a
			>
			<div class="card-body">
				<h5 class="card-title">Sweat Shirt</h5>
				<p class="card-text">
					This is a wider card with supporting text below as a natural lead-in
					to additional content. This card has even longer content than the
					first to show that equal height action.
				</p>
			</div>
		</div>
	</div>
</div>
<%- include ('partials/footers.ejs') %>
