<%- include ('partials/header.ejs') %>

<div class="container">
    <!--First Row-->

    <div class="card-deck" style="margin-top: -1px;">
        <div class="card">
            <img
                src="https://ae01.alicdn.com/kf/HTB1myK.JwaTBuNjSszfq6xgfpXa9/New-Autumn-Fashion-Brand-Men-Clothes-Slim-Fit-Men-Long-Sleeve-Shirt-Men-Plaid-Cotton-Casual.jpg_640x640.jpg"
                class="card-img-top"
                alt="..."
            />
            <a class="btn btn-success">BUY NOW</a>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                </p>
            </div>
    
        </div>
        <div class="card">
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPVqm3TR2dT9M0OG9W5xnc_BOhy6jOOqoQxTwUkml1lemH3R3p&usqp=CAU"
                class="card-img-top"
                alt="..."
            />
            <a class="btn btn-success">BUY NOW</a>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This card has supporting text below as a natural lead-in to
                    additional content.
                </p>
            </div>
            
        </div>
        <div class="card">
            <img
                src="https://cdn11.bigcommerce.com/s-pkla4xn3/images/stencil/1280x1280/products/24675/225007/2017-New-Autumn-Fashion-Brand-Men-Clothes-Slim-Fit-Men-Long-Sleeve-Shirt-Men-Patchwork-Casual__24759.1549259591.jpg?c=2&imbypass=on"
                class="card-img-top"
                alt="..."
            />
            <a class="btn btn-success">BUY NOW</a>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This card has even longer content
                    than the first to show that equal height action.
                </p>
            </div>
            
        </div>
    </div>

    <!--Second row-->

    <div class="card-deck">
        <div class="card">
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7gD2Lvsm7dIlvQlE-uLYnLSvCC0APS0-IlYx3lTRUlJMvodIJ&usqp=CAU"
                class="card-img-top"
                alt="..."
                style="height:362.25px"
            />
            <a class="btn btn-success">BUY NOW</a>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                </p>
            </div>
            
        </div>
        <div class="card">
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRIrGxmip5pWatV5IlQleoydhK71-e9AQ7AL54WQyF7IrxLwHaQ&usqp=CAU"
                class="card-img-top"
                alt="..."
                style="height:362.25px"
            />
            <a class="btn btn-success">BUY NOW</a>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This card has supporting text below as a natural lead-in to
                    additional content.
                </p>
            </div>
            
        </div>
        <div class="card">
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSPtX3lt9XRu0RE_SgBrrkh20aRup8sSnLhsCKRDfsE3I0ipz2Z&usqp=CAU"
                class="card-img-top"
                alt="..."
                style="height:362.25px"
            />
            <a class="btn btn-success">BUY NOW</a>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This card has even longer content
                    than the first to show that equal height action.
                </p>
            </div>
            
        </div>
    </div>

    <!--Third Row-->

    <div class="card-deck">
        <div class="card">
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSiG4_e6x_uWcSskifVL_ZnQs1fSUI-I84LcNIh7Ka5gU9TagbG&usqp=CAU"
                class="card-img-top"
                alt="..."
                style="height:362.25px"
            />
            <a class="btn btn-success">BUY NOW</a>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                </p>
            </div>
            
        </div>
        <div class="card">
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQywlzsCSshoF6ELQWR-7Ol830eYm2SbkLjA_VI4omCle4dk0kr&usqp=CAU"
                class="card-img-top"
                alt="..."
                style="height:362.25px"
                
            />
            <a class="btn btn-success">BUY NOW</a>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This card has supporting text below as a natural lead-in to
                    additional content.
                </p>
            </div>
            
        </div>
        <div class="card">
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSU4Yo2SNUfUf-wIentZGz6S6b59LN016ufUCa4GwVpbK-NGOG&usqp=CAU"
                class="card-img-top"
                alt="..." 
                style="height:362.25px"
            />
            <a class="btn btn-success">BUY NOW</a>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This card has even longer content
                    than the first to show that equal height action.
                </p>
            </div>
            
        </div>
    </div>
</div>


</body>
</html>


