.test {
	text-transform: uppercase;
	text-align: center;
	color: yellow;
}
.sizing {
	height: 544px;
	width: 544px;
}
.flex-container {
	display: flex;
	flex-direction: row;
}
.colour {
	background-color: rgb(3, 2, 65);
	opacity: 0.75;
}
.sizer {
	height: 544px;
	width: 77em;
	margin-right: -15em;
}
.descriptions {
}
